.grid-container {
  margin: 25px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.dashboard-card-content a{
  text-decoration: none;
}
.ico{
  padding: 10px;
}
.my-form{
}

.btn{
  margin-top: 25px;
  margin-bottom: 25px;
}
.mat-h1{
  text-align: center;
}

.unit{
  width: 20px;
}

table{
  margin: auto;
}
table td{
  padding: 10px;
}
mat-label{
  font-size: 20px;
  padding: 15px;
}
mat-option{
}
