.grid-container {
  margin: 25px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.dashboard-card-content a{
  text-decoration: none;
  color: whitesmoke;
}
.ico{
  padding: 10px;
}
.my-form{
  color: whitesmoke;
}

.example-right-align {
  text-align: right;
}

mat-label{
  padding-right: 20px;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
