.body{
  background: black;
}

ul.dropdown-menu {
  background-color: #000;
}

input[type=checkbox] {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  padding: 10px;
}
