<div class="grid-container">
  <h1 class="mat-h1">My Previous Orders</h1>
  <mat-grid-list cols="1" rowHeight="700px">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <mat-icon aria-label="view icon" class="ico2">search</mat-icon><span>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field></span>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="order_status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="order_date">
            <th mat-header-cell *matHeaderCellDef> Ordered Date </th>
            <td mat-cell *matCellDef="let element"> {{element.order_date}} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total(Rs.) </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><button class="btn" mat-stroked-button (click)="approveOrder(element.id)"><mat-icon aria-label="view icon" class="ico">check_circle</mat-icon>Approve Order</button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-list>
</div>
