.sidenav-container {
  height: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.sidenav {
  width: 275px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.ico{
  padding: 15px;
}
